.title {
  text-transform: capitalize;
  font-size: 25px;
  margin-bottom: 10px;
  color: #3544a9;
  text-align: center;
}

.appear {
  transform: translateY(-100%);
  transition: all 500ms linear;
}

.appearActive {
  transform: translateY(0);
}
